@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css');
* {
    font-family: 'Poppins', sans-serif;
    color: white;
    margin: 0;
}

/* MENU BAR */
.cet-menu-item-icon {
    display: none !important;
}

.cet-action-label{
    padding: 0 1rem 0 0 !important;
}

.keybinding{
    padding: 0 !important;
}

.cet-action-menu-item{
     padding: 0.5rem;
 }

.cet-action-item{
    padding: 2rem;
}

/* INPUT STYLES */

@supports(-webkit-appearance: none) or (-moz-appearance: none) {
    input[type='checkbox'],
    input[type='radio'] {
        --active: rgba(255, 255, 255, 0.1);
        --active-inner: #fff;
        --border: #BBC1E1;
        --border-hover: #275EFE;
        --background: #222222;
        --disabled: #F6F8FF;
        --disabled-inner: #E1E6F9;
        -webkit-appearance: none;
        -moz-appearance: none;
        height: 21px;
        outline: none;
        display: inline-block;
        vertical-align: top;
        position: relative;
        margin: 0;
        cursor: pointer;
        background: var(--b, var(--background));
        transition: background .3s, border-color .3s, box-shadow .2s;
        &:after {
            content: '';
            display: block;
            left: 0;
            top: 0;
            position: absolute;
            transition: transform var(--d-t, .3s) var(--d-t-e, ease), opacity var(--d-o, .2s);
        }
        &:checked {
            --b: var(--active);
            --bc: var(--active);
            --d-o: .3s;
            --d-t: .6s;
            --d-t-e: cubic-bezier(.2, .85, .32, 1.2);
        }
        &:disabled {
            --b: var(--disabled);
            cursor: not-allowed;
            opacity: .9;
            &:checked {
                --b: var(--disabled-inner);
                --bc: var(--border);
            }
            & + label {
                cursor: not-allowed;
            }
        }
        &:hover {
            &:not(:checked) {
                &:not(:disabled) {
                    --bc: var(--border-hover);
                }
            }
        }
        &:focus {
            box-shadow: 0 0 0 var(--focus);
        }
        &:not(.switch) {
            width: 21px;
            &:after {
                opacity: var(--o, 0);
            }
            &:checked {
                --o: 1;
            }
        }
        & + label {
            font-size: 14px;
            line-height: 21px;
            display: inline-block;
            vertical-align: top;
            cursor: pointer;
            margin-left: 4px;
        }
    }
    input[type='checkbox'] {
        &:not(.switch) {
            border-radius: 7px;
            &:after {
                width: 5px;
                height: 9px;
                border: 2px solid var(--active-inner);
                border-top: 0;
                border-left: 0;
                left: 7px;
                top: 4px;
                transform: rotate(var(--r, 20deg));
            }
            &:checked {
                --r: 43deg;
            }
        }
        &.switch {
            width: 38px;
            border-radius: 11px;
            &:after {
                left: 2px;
                top: 2px;
                border-radius: 50%;
                width: 15px;
                height: 15px;
                background: var(--ab, var(--border));
                transform: translateX(var(--x, 0));
            }
            &:checked {
                --ab: var(--active-inner);
                --x: 17px;
            }
            &:disabled {
                &:not(:checked) {
                    &:after {
                        opacity: .6;
                    }
                }
            }
        }
    }
    input[type='radio'] {
        border-radius: 50%;
        &:after {
            width: 19px;
            height: 19px;
            border-radius: 50%;
            background: var(--active-inner);
            opacity: 0;
            transform: scale(var(--s, .7));
        }
        &:checked {
            --s: .5;
        }
    }
}


/* PAGE STYLES */

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: #222222;
}

#main-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
}

#top-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #222222;
    align-items: center;
}

#top-left-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 5rem;
}

#left-section {
    display: flex;
    flex-direction: column;
    width: 25vw;
    margin-right: 0.5rem;
    min-width: 14rem;
    max-width: 20rem;
}

#current-project {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 4rem;
    background-color: #333333;
    width: 25vw;
    min-width: 14rem;
    max-width: 20rem;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

#current-branch {
    display: flex;
    flex-direction: row;
    margin-left: 0.5rem;
    height: 4rem;
    justify-content: space-evenly;
    align-items: center;
    width: 24vw;
    min-width: 13.5rem;
    max-width: 19.5rem;
    background-color: #333333;
    border-radius: 1rem;
}

#current-action {
    display: flex;
    flex-direction: row;
    margin-left: 0.5rem;
    width: 24vw;
    min-width: 13.5rem;
    max-width: 24.5rem;
    height: 4rem;
    justify-content: space-evenly;
    align-items: center;
    background-color: #333333;
    border-radius: 1rem;
}

.text-ellipsis {
    white-space: nowrap;
    overflow: hidden;
    display: inline-block; /* or block */
    width: 100%;
    text-overflow: ellipsis;
}

.current-desc {
    width: 70%;
    display: flex;
    flex-direction: column;
    font-size: 0.8rem;
}

.current-desc-title {
    font-weight: bold;
    font-size: 0.9rem;
}

#top-right-container {
    display: flex;
    flex-direction: row;
    background-color: #333333;
    align-items: center;
    height: 3rem;
    padding: 0.5rem;
    margin-left: 2rem;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
}

#top-right-container p{
    margin-right: 1rem;
}

.avatar {
    height: 100%;
    border-radius: 50%;
}


#bottom-container {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100vw;
}

#right-section {
    display: flex;
    flex: 1;
    border-top-left-radius: 1rem;
    background-color: #444444;
}

.d2h-wrapper {
    border-top-left-radius: 1rem;
    width: 100%;
}

.d2h-file-wrapper {
    border: none !important;
}

.d2h-sticky-header{
    border-top-left-radius: 1rem;
}

#left-top-section {
    display: flex;
    flex-direction: column;
    background-color: #333333;
    border-top-right-radius: 1rem;
    height: 80%;
    width: 100% !important;
}

#left-section-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 2.5rem;
    justify-content: space-evenly;
    background-color: #333333;
    border-top-right-radius: 1rem;
}

.left-section-nav-button-changes{
    display: flex;
    align-items: center;
    height: 80%;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 1rem;
    justify-content: center;
    background-color: #222222;
}

.left-section-nav-button-history{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 1rem;
}

.left-section-nav-button-history i, .left-section-nav-button-changes i{
    margin-right: 0.5rem;
}



#left-bottom-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #333333;
    height: 23rem;
}

#left-section-changes {
    display: flex;
    flex-direction: column;
    background-color: #333333;
}

#changes-table {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}
.change {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 2rem;
    padding: 0.5rem;
    border-bottom: 1px solid #444444;
}

.change input {
    margin-right: 0.5rem;
}

.change i {
    margin-right: 0.5rem;
    margin-left: 0.5rem;
}

.changes-dir {
    width: 100%;
}

#commit-message {
    display: flex;
    height: 2rem;
    width: 90%;
    align-items: center;
    justify-content: center;
}

#commit-message input {
    background-color: #222222;
    border: none;
    color: white;
    width: 100%;
    font-size: 1rem;
    border-radius: 0.5rem;
    margin-left: 0.5rem;
    padding: 0.5rem;
}

#commit-description {
    display: flex;
    border: none;
    height: 40%;
    width: 89%;
    font-size: 1rem;
    resize: none;
    background-color: #222222;
    border-radius: 0.5rem;
    margin-top: 0.7rem;
}

#commit-button {
    border: none;
    justify-content: center;
    align-items: center;
    background-color: #222222;
    border-radius: 0.5rem;
    width: 90%;
    height: 2rem;
    margin-top: 0.7rem;
    margin-bottom: 0.7rem;
}

#last-commit {
    display: flex;
    flex-direction: row;
    width: 90%;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
}

#last-commit-details {
    display: flex;
    flex-direction: column;
}

#commit-undo {
    border: none;
    justify-content: center;
    align-items: center;
    background-color: #333333;
    border-radius: 0.5rem;
    width: 5rem;
    height: 2rem;
}